:root {
  --primary: #b6895b;
  --bg: #010101;
  --redPrimary: #d32f2f;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 3000px;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #512929;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--redPrimary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  transition: 0.3s;
}

.navbar .navbar-nav a:hover {
  color: var(--redPrimary);
}

.navbar .navbar-nav a::after {
  content: " ";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--redPrimary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
  transition: 0.3s;
}

.navbar .navbar-extra a:hover {
  color: var(--redPrimary);
}

#humberger-menu {
  display: none;
}

/* navbar search form */
.navbar .search-form {
  position: absolute;
  right: 7%;
  top: 100%;
  width: 40rem;
  height: 4rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);

  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}
/* shopping cart */

#shopping-cart {
  position: relative;
}

#shopping-cart .cart-notif {
  display: inline-block;
  padding: 1px 5px;
  background-color: var(--redPrimary);
  border-radius: 8px;
  font-size: 0.6rem;
  position: absolute;
  right: -10px;
  top: 0;
}

.navbar .shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  background-color: #fff;
  width: 30rem;
  height: 150vh;
  overflow: visible;
  transition: 0.3s;
  padding: 0 1.5rem;
  color: var(--bg);
}
.shopping-cart.active {
  right: 0;
}
.shopping-cart .cart-item {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 3.5rem;
  border-radius: 50%;
}

.shopping-cart h3,
.shopping-cart h5 {
  font-size: 1.2rem;
}

.shopping-cart h4 {
  font-size: 1.1rem;
  text-align: center;
}

.shopping-cart .cart-item {
  font-size: 1.1rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 1px 4px;
  cursor: pointer;
  margin: 0 4px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

/* checkout form */
.form-konsumen {
  width: 100%;
  border-top: 1px dashed black;
  padding: 0.7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-konsumen h5 {
  text-align: center;
  font-size: 1.1rem;
}

.form-konsumen form {
  width: 100%;
  text-align: center;
}
.form-konsumen label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}
.form-konsumen input {
  background-color: #ddd;
  padding: 5px;
  font-size: 1rem;
  width: 80%;
  border-radius: 16px;
  padding: 5px 15px;
}

.form-konsumen .checkout-button {
  background-color: var(--primary);
  border-radius: 16px;
  font-size: 1rem;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  margin: 1rem auto;
  cursor: pointer;
  transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}

.form-konsumen .checkout-button:hover {
  background-color: #7e5b38;
  transform: scaleX(0.9);
}
.form-konsumen .checkout-button.disabled {
  background-color: #999;
  cursor: not-allowed;
  transform: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/kopi2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

.hero .mask-container {
  position: absolute;
  inset: 0;

  mask-image: url(../img/maskkopi.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
} */

.hero .content {
  padding: 1.4rem 7%;
  /* max-width: 50rem; */
  position: fixed;
  text-align: center;
  top: 80px;
  width: 100%;
}

.hero .content h1 {
  font-size: 3.5em;
  color: #fff;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content h1 span {
  color: var(--primary);
}
.hero .content .red {
  color: var(--redPrimary);
  font-style: italic;
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 200;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}

.hero .content .cta:hover {
  background-color: #7e5b38;
  transform: scaleX(0.9);
}

/* About Section */
.about,
.menu,
.kontak,
.produk {
  padding: 7rem 7% 1.4rem;
}
.about h2,
.menu h2,
.kontak h2,
.produk h2 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1.1rem;
}
.about h2 span,
.menu h2 span,
.kontak h2 span,
.produk h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Menu Section */
.menu h2,
.kontak h2,
.produk h2 {
  margin-bottom: 1rem;
}
.menu p,
.kontak p,
.produk p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.5;
  font-size: 1.1rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}
.menu .menu-card {
  text-align: center;
  width: 250px;
  padding-bottom: 4rem;
}
.menu-card img {
  border-radius: 50%;
  width: 80%;
}
.menu-card-title {
  margin: 1rem auto 0.5rem;
}
/* produk section */

.produk .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.produk .produk-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.produk .produk-icon {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}
.produk .produk-icon a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in;
}
.produk .produk-icon a:hover {
  transform: scale(0.9);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.produk .produk-image {
  padding: 1rem 0;
}
.produk .produk-image img {
  height: 25rem;
}

.produk .produk-content h3 {
  font-size: 2rem;
}

.produk-content .produk-star {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
  fill: var(--primary);
}

.produk-content .produk-star .star-full {
  fill: var(--primary);
}
.produk-content .produk-price {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Kontak Section */

.kontak .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}
.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.kontak .row form {
  text-align: center;
  flex: 1 1 45rem;
  padding: 4rem 2rem;
}
.kontak .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  border-radius: 12px;
  padding-left: 2rem;
}

.kontak .row form .input-group input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1.5rem;
  background: none;
  color: #fff;
}

.kontak .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}
.kontak .row form .btn:hover {
  background-color: #7e5b38;
  transform: scaleX(0.9);
}

/* footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 2rem 0.4rem;
  margin-top: 3rem;
}
footer .social {
  padding: 1rem 0;
}

footer .social a {
  padding: 1rem;
  color: #fff;
  transition: 0.3s;
}
footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.2rem;
  transition: 0.3s;
}
footer .links a {
  padding: 0.1rem 1rem;
  color: #fff;
}
footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Modal Box */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 12% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: slideToBottom 0.5s;
}
@keyframes slideToBottom {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  .hero .content {
    top: 230px;
    width: 100%;
  }
}
/* Tablet */
@media (max-width: 1025px) {
  html {
    font-size: 85%;
  }

  #humberger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }
  .navbar .shopping-cart {
    width: 50rem;
  }

  #shopping-cart .cart-notif {
    font-size: 1.1rem;
  }

  .shopping-cart img {
    height: 7rem;
    border-radius: 50%;
  }

  .shopping-cart h3,
  .shopping-cart h5 {
    font-size: 3rem;
  }
  .shopping-cart .cart-item .cart-item-detail #add,
  .shopping-cart .cart-item .cart-item-detail #remove {
    padding: 1px 8px;
    cursor: pointer;
    margin: 0 4px;

    font-size: 2rem;
  }

  .shopping-cart .cart-item {
    font-size: 2rem;
  }
  .shopping-cart h4 {
    font-size: 2rem;
  }
  .shopping-cart .cart-item #add,
  .shopping-cart .cart-item #remove {
    display: inline-block;
    padding: 1px 4px;
    cursor: pointer;
    margin: 0 4px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  .form-konsumen form label {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .form-konsumen h5 {
    font-size: 2rem;
    margin: 0.5rem;
  }
  .form-konsumen label,
  .form-konsumen input {
    font-size: 2.1rem;
    margin-top: 1.5rem;
  }
  .form-konsumen .checkout-button {
    font-size: 1.8rem;
  }
  .form-konsumen label input {
    width: 100%;
  }

  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 44rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    font-size: 2rem;
  }
  .menu p {
    font-size: 1.2rem;
  }
  .kontak .row {
    flex-wrap: wrap;
  }
  .kontak .row .map {
    height: 30rem;
  }
  .kontak .row form {
    padding-top: 2rem;
  }
  .modal-content {
    flex-wrap: wrap;
  }
}
/* Mobile */
@media (max-width: 832px) {
  html {
    font-size: 65%;
  }
  .hero .content {
    top: 190px;
  }
  .navbar .shopping-cart {
    width: 40rem;
  }

  .shopping-cart h3,
  .shopping-cart h5 {
    font-size: 1.6rem;
  }

  .shopping-cart .cart-item {
    font-size: 1.4rem;
  }
  .shopping-cart h4 {
    font-size: 1.5rem;
  }
  .form-konsumen form label {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .form-konsumen form label span {
    font-size: 1.7rem;
    margin-bottom: 3px;
  }
  .form-konsumen form label input {
    width: 100%;
    margin: 0.3rem 0;
    font-size: 1.7rem;
  }
}
